{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
           {% if vuelo.tipo == 'Nacional' %}
               <span style="color: blue;">{{ vuelo.name }}</span> - <span style="color: blue;">{{ vuelo.tipo }}</span>
           {% elif vuelo.tipo == 'Internacional' %}
               <strong>{{ vuelo.name }}</strong> - <strong>{{ vuelo.tipo }}</strong>
           {% else %}
               {{ vuelo.name }} - {{ vuelo.tipo }}
           {% endif %}
        </h5>
            <p class="card-text">
               {% if vuelo.tipo == 'Nacional' %}
                   <span style="color: blue;">{{ vuelo.price }}</span>
               {% elif vuelo.tipo == 'Internacional' %}
                   {{ vuelo.price }}
               {% else %}
                   {{ vuelo.price }}
               {% endif %}
            </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
